<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Robo Pet Accessories</title>
</head>
<body>

    <h2>WELCOME TO THE ROBOTIC PET PAGE!</h2>

    <h1>Select Accessories for Your Robotic Pet</h1>

    <form action="#" method="post">
        <label for="accessories">Choose accessories:</label><br>
        <input type="checkbox" id="extraBattery" name="accessories[]" value="Extra Battery Packs">
        <label for="extraBattery">Extra Battery Packs</label><br>
        <input type="checkbox" id="chargingDock" name="accessories[]" value="Charging Dock/Station">
        <label for="chargingDock">Charging Dock/Station</label><br>
        <input type="checkbox" id="voiceModule" name="accessories[]" value="Voice Module">
        <label for="voiceModule">Voice Module</label><br>
        <input type="checkbox" id="cameraAttachment" name="accessories[]" value="Camera Attachment">
        <label for="cameraAttachment">Camera Attachment</label><br>
        <input type="checkbox" id="remoteControl" name="accessories[]" value="Remote Control">
        <label for="remoteControl">Remote Control</label><br>
        <input type="checkbox" id="customSkins" name="accessories[]" value="Custom Skins">
        <label for="customSkins">Custom Skins</label><br>
        <input type="checkbox" id="bluetoothSpeaker" name="accessories[]" value="Bluetooth Speaker Module">
        <label for="bluetoothSpeaker">Bluetooth Speaker Module</label><br><br>

        <button type="submit">Submit</button>
    </form>

</body>
</html>