<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>WELCOME TO THE STUFFED PET PAGE!</h1>

<form action="#" method="post">
    <label for="size">What size would you like to order?</label>
    <br>
    <input type="text" id="size" name="size" required>
    <br>
    <br>
    <label for="material">What material would you like?</label>
    <br>
    <input type="text" id="material" name="material" required><br>

    <br>
    <label for="stuffing">What kind of stuffing?</label>
    <br>
    <input type="text" id="stuffing" name="stuffing" required>
    <br>

    <button type="submit">Place Order</button>
</form>
</body>
</html>